doctype html
html 
    head 
        title="Contacto"
    
    body 
        h3 Contacto
        div 
            label Nombre:
            input(type="text")
        div
            label Email:
            input(type="email")
        div 
            label Teléfono: 
            input(type="tel")
        div
            label Mensaje:
            input(type="text")
        div 
            button(type="submit") Enviar
        
        a(href="/") Volver