doctype html
html 
    head 
        title="Dónde estamos"
    
    body 
        h3 Dónde estamos
        div
            img(src="https://i0.wp.com/www.cssscript.com/wp-content/uploads/2018/03/Simple-Location-Picker.png?fit=561%2C421&ssl=1", alt="map")
        a(href="/") Volver 